
:root {
   --background: #eeeeee;
   --background-secondary: #f4f4f4;
   --font-primary: #000004;
   --font-secondary: #07072f;
   --highlight: #bcd3ffcb;
   --lighter-gray-accent: #f4f4f4;
   --light-gray-accent: #f1f1f1;
   --dark-gray-accent: #535353;
   --darker-gray-accent: #535353;
}

.journal {
   width: 80%;
   max-width: 1000px;
   margin: 0 auto;
   padding-top: 20vh;
}

#title-editor {
   padding: 10px 16px;
   color: var(--font-secondary);
   font-size: 2.5rem;
   font-weight: bolder;
   letter-spacing: 0.04rem;
   border: none;
}

.ql-editor h1 {
   font-size: 2.5rem;
   color: var(--font-primary);
   padding-top: 25px;
   padding-bottom: 10px;
   padding-left: 16px;
}

.ql-editor {
   padding: 0;
}

.ql-blank {
   padding: 0;
   border: none;
   border-radius: 20px;
}


.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
   display: none;
}

.ql-toolbar .ql-stroke {
   fill: none;
   stroke: var(--font-secondary);
}
.ql-hidden {
   display: none !important;
}

.ql-toolbar .ql-fill {
   fill: var(--font-secondary);
   stroke: none;
}

.ql-toolbar .ql-picker {
   color: var(--font-secondary);
}

::selection {
   background: var(--highlight);
   color: var(--font-secondary);
}
::-moz-selection {
   background: var(--highlight);
   color: var(--font-secondary);
}

.ql-snow .ql-picker-options .ql-picker-item::before {
   content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before {
   content: attr(data-value) !important;
}

.ql-toolbar .ql-stroke {
   fill: none;
   stroke: var(--font-secondary);
}

.ql-toolbar .ql-fill {
   fill: var(--font-secondary);
   stroke: none;
}

.ql-toolbar .ql-picker {
   color: var(--font-secondary);
}

::selection {
   background: var(--highlight);
   color: var(--font-secondary);
}
::-moz-selection {
   background: var(--highlight);
   color: var(--font-secondary);
}

.ql-snow .ql-picker-options .ql-picker-item::before {
   content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before {
   content: attr(data-value) !important;
}

#editor .ql-editor {
   line-height: 1.7;
}

.ql-blank {
   padding: 12px 15px;
}

.ql-toolbar {
   border: none !important;
   padding-left: 16px;
   min-height: 50px;
   height: 100%;
   flex: 1;
   display: flex;
   flex-direction: row;
}

.ql-snow .ql-formats button {
   height: 30px !important;
   margin-right: 8px !important;
}

.ql-snow .ql-picker-label::before {
   position: absolute;
   transform: translateY(+7%);
   height: 30px !important;
   display: flex !important;
   flex-direction: column !important;
   font-size: 1rem !important;
   margin-right: 8px !important;
}

svg {
   height: 20px !important;
   margin-right: 25px !important;
}

#content-editor {
   padding: 10px 16px;
   border: none;
   font-size: 1.2rem;
   line-height: 2.5rem;
   margin-bottom: 20px;
}

#content-editor img{
   width: 50%;
   height: auto;
   border-radius: 20px;
   margin: 0 auto;
}
